[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "geometry/extern/googletest"]
	path = geometry/extern/googletest
	url = https://github.com/google/googletest.git
