math/CMakeCache.txt
math/FileContentIndex/.
.vscode
math/.vs
math/.vscode
*.VC.db
*.ipch
.vs/
math/CMakeCache.txt
math/CMakeLists.txt
geometry/CMakeLists.txt
geometry/CMakeLists.txt
geometry/extern
math/extern
math/out
geometry/out
